        * {
            padding: 0;
            margin: 0;
        }
        
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }
        
        .active {
            color: red
        }
        
        .bottom-tab {
            position: fixed;
            bottom: 0;
            height: 50px;
            line-height: 50px;
            width: 100%;
            display: flex;
            border-top: 1px solid #333333;
            background-color: white;
        }
        
        .bottom-tab li {
            flex: 1;
            text-align: center;
        }
        
        .cinemaList {
            padding: 0 10px;
            padding-bottom: 50px;
        }
        
        .cinemainput {
            width: 99%;
            height: 30px;
            line-height: 30px;
        }
        
        .cinemaList li {
            border-bottom: 1px solid #999;
        }
        
        .cinemaList li .name {
            color: #333333;
        }
        
        .cinemaList li .addr {
            color: #999;
            font-size: 12px;
        }