.activeStyle {
    color: blue
}

.tabbar-foot {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid #333;
}

.tabbar-ul {
    display: flex;
}

.tabbar-ul li {
    flex: 1;
    text-align: center;
}

li {
    list-style: none
}